<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CH5 Game</title>
    <link rel="stylesheet" href="/assets/css/game.css">
</head>
<body>

    <a href="/" class="button"> Back Home </div> <!--untuk sementara ini pengganti backnya-->
    <h1>Rock Paper Scissors</h1>
    
    <div>
        <div id="playerrr"> Player </div>
        <div id="versus"> VS </div>
        <div id="comppp"> Comp </div>
    </div>

    <div class="container">
        <div class="area-komputer">
            <img src="/assets/img/batu.png" class="img-Computer">
        </div>
        <div class="info"></div>
        <div class="area-player">
            <ul>
                <li>
                    <img src="/assets/img/batu.png" class="batu">
                </li>
                <li>
                    <img src="/assets/img/gunting.png" class="gunting">
                </li>
                <li>
                    <img src="/assets/img/kertas.png" class="kertas">
                </li>
            </ul>
        </div>
    </div>
 <script src="/assets/js/game.js" charset="utf-8"></script>
</body>
</html>