<!DOCTYPE html>
<html lang="en">

<head>
    <!--INFORMASII-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CH5 Home</title>
    <link rel="stylesheet" href="/assets/css/index.css"> 
</head>
<body> 
<!--ISI KONTEN-->

  <!-- MASIH YANG LAMA BELUM UPDATE -->
    
<div class="container" id="gambar1"> <!--niatnya mau panggil di css-->
    <div class="navbar"> <!--untuk membuat navbar-->
      <div class="nav-section" id="logo">
        <a href="#Logo" class="nav-item">LOGO</a> 
      </div>
      <div class="nav-section" id="menu"> <!--piilihan menu-->
        <a  href="#Home" class="nav-item menu-item">Home</a>
        <a  href="#Work" class="nav-item menu-item">Work</a>     <!--Ceritanya Href di isi biar bisa underline saat masuk menu nya-->
        <a  href="#Contact" class="nav-item menu-item">Contact</a> 
        <a  href="#About Me" class="nav-item menu-item">About Me</a>
      </div>
      <div class="nav-section" id="menuright">
        <a  href="#Sign uP" class="nav-item">Sign up</a>  <!-- ini untuk menu Sign Uo dan Login nya -->
        <a  href="#Login" class="nav-item">Login</a>
      </div>
    </div>                       <!--gambar jtak utuh, seperti otak ini :( -->
    <div class="center-box">  <!--biar ke tengah-->
      <div class="title">PLAY TRADITIONAL GAME</div>
      <div class="subtitle">Experience new traditional game play</div>
      <a href="/game" class="button">PLAY NOW</div>   <!--ini link ke game-->
    </div>





    
<!--agak pusing jadi langsung masukan saja gambarnya huhu, walaupun sudah responsif asih kurang isi konten-->
<!--Harusnya Bikin # untuk panggil gambar biar lebih rapi pada css-->

<div style="width: 100vw; height: 100vh;background-image: url('/home/ubuntu/binarchall03/assets/image/image2jpg'); background-size: cover;"> </div>

<div style="width: 100vw; height: 100vh;background-image: url('/home/ubuntu/binarchall03/assets/image/image3.jpg'); background-size: cover;"></div>

<div style="width: 100vw; height: 100vh;background-image: url('/home/ubuntu/binarchall03/assets/image/image4.jpg'); background-size: cover;"></div>

<div style="width: 100vw; height: 100vh;background-image: url('/home/ubuntu/binarchall03/assets/image/image5.jpg'); background-size: cover;"></div>

<div style="width: 100vw; height: 100vh;background-image: url('/home/ubuntu/binarchall03/assets/image/image6.jpg'); background-size: cover;"></div>

<!--Harusnya ada footer :( )-->

</body>
</html>