<h1>Login</h1>

<form action="/register" method="POST">
<!--input email-->
<label for="email">Email</label>
<br>
<input type="email" name="email" placeholder="Enter email">
<br>

<!--input password-->
<label for="password">Password</label>
<br>
<input type="password" name="password" placeholder="Enter password">
<br>

<!--tombol-->
<button type="submit">Log in</button>
</form>
<a href="/register">Register</a>